body {
	background-color: black
}

div#timeStamp {
	margin: 1%;
	color: white;
	font-family: verdana, arial, helvetica;
	font-size: 10pt;
	font-weight: bold;
	text-align: center
}

div.upperLot {
	width: 15%;
	height: 20%;
	float: left;
	border-left: 2px solid gray;
	border-top: 2px solid gray;
	border-right: 2px solid gray;
}

div.lowerLot {
	position: relative;
	top: 10%;
	width: 15%;
	height: 20%;
	float: left;
	border-left: 2px solid gray;
	border-bottom: 2px solid gray;
	border-right: 2px solid gray;
}

div#navBar {
	position: absolute;
	top: 63%
}

div#floor {
	position: absolute;
	top: 60%;
	left: 10%;
	width: 6%;
	height: 6%;
	padding: 1%;
	color: white;
	background-color: orange;
	font-family: verdana, arial, helvetica;
	font-size: 16pt;
	font-weight: bold;
	text-align: center
}