body {
	background-color: black
}

div#timeStamp {
	margin: 1%;
	color: white;
	font-family: verdana, arial, helvetica;
	font-size: 10pt;
	font-weight: bold;
	text-align: center
}

div.upperLot {
	width: 15%;
	height: 20%;
	float: left;
	border-left: 2px solid gray;
	border-top: 2px solid gray;
	border-right: 2px solid gray;
}

div.upperLot:hover {
	background-color: #8caaff
}

div.lowerLot {
	position: relative;
	top: 10%;
	width: 15%;
	height: 20%;
	float: left;
	border-left: 2px solid gray;
	border-bottom: 2px solid gray;
	border-right: 2px solid gray;
}

div.lowerLot:hover {
	background-color: #8caaff
}

div#navBar {
	position: absolute;
	top: 65%
}

div#floor {
	position: absolute;
	top: 62%;
	left: 15%;
	width: 8%;
	height: 8%;
	padding: 1%;
	color: white;
	background-color: orange;
	font-family: verdana, arial, helvetica;
	font-size: 16pt;
	font-weight: bold;
	text-align: center
}

div#spot {
	display: none;
	width: 7%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%
}